.appointment-page-contact {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  /* background-size: 100% 100%; */
}

.appointment-page-contact .card {
  background-color: #1c1c1dd8;
}

.appointmentText {
  color: #0dcaf0;
  text-align: center;
}

.error-text {
  font-size: 14px;
  color: rgb(255, 255, 255);
}
