/* ==========================================
        Start Global Section
=============================================*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Roboto+Condensed:wght@300;700&display=swap");
* {
  font-family: "Roboto Condensed", sans-serif;
}

/* global style */
.btn-info,
.btn-outline-info {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}
.modal-footer {
  justify-content: start !important;
}

.dropdown-menu[data-bs-popper] {
  margin-right: 30px;
}
